.banner{
    width: 100%;
    background-color: #00142d;
    color: white;
}
.banner .wrap{
    max-width: 1200px;
    
}
.banner .item-grop .item .pic{
    display: flex;
    justify-content: center;
}
.banner .item-grop .item .pic img{
    width: 80%;
    margin: 100px 0 10px 0;
}
.banner .item-grop .text{
    text-align: center;
}
.banner .item-grop .text h2,.slogan{
    font-size: 28px;
    line-height: 1.5em;
    font-weight: 600;
}
.banner .item-grop .text .slogan{
    color: green;
    font-weight: 600;
}
.banner .item-grop .text .information{
    text-align: start;
    margin: 0 10px;
    line-height: 1.5em;
}
.banner-input{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-input input{
    width: 95%;
    border: 0;
    border-bottom: 1px solid gray;
    background: none;
}
.banner-input a{
    width: 95%;
    height: 30px;
    display: inline-block;
    background-color: blue;
    color: aliceblue;
    text-decoration: none;
    line-height: 30px;
    border-radius: 30px;
    text-align: center;
    font-size: smaller;
    margin: 20px 0;
}
@media screen and (min-width:768px) {
    .banner .item{
        display: flex;
        flex-direction: column-reverse;
    }
    .banner .item-grop .text{
        text-align: start;
        padding: 100px 20px 10px ;
    }
    .banner .item-grop .text h2,.slogan{
        font-size: 40px;
        line-height: 1.5em;
        font-weight: 600;
    }
    .banner .item-grop .text .information{
        text-align: start;
        margin: 30px 0px;
        line-height: 1.5em;
    }
    .banner-input{
        margin: 30px 0;
        display: flex;
        flex-direction: row;
    }
    .banner-input input{
        width: 40%;
    }
    
    .banner-input a{
        width: 150px;
        height: 40px;
        line-height: 40px;
        margin: 0 10px;
    }
    
    .banner .item-grop .item .pic img{
        width: 80%;
        margin: 10px 0 10px 0;
    }
}
@media screen and (min-width:992px) {
    .banner .item{
        display: flex;
        flex-direction: row-reverse;
    }
    .banner .wrap{
        padding: 100px 0 10px;
    }
    .banner .item .text{
        padding: 10px 20px 10px ;
    }
}
@media screen and (min-width:1200px) {
    .banner .wrap{
        margin: auto;
    }
}



