.moreServices{
    background-color: #e0e5e9;
}
.moreServices .wrap{
    padding: 30px 10px 30px 10px;
    max-width: 1200px;
    box-sizing: border-box;
}
.moreServices .wrap .title{
    display: flex;
    justify-content: center;
    /* margin: 0 10px; */
}
.moreServices .wrap .title h3{
    font-size: xx-large;
    font-weight: 600;
    margin: 0px 0 20px;
}
.moreServices .wrap .item-grop{
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 10px; */
}
.moreServices .wrap .item-grop .item{
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}
.moreServices .item-grop .item .pic{
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 50%;
    margin: auto;
    background-color:white;
    justify-content: center;
    align-items: center;
}
.moreServices .item-grop .item .pic img{
    width: 70%;
}
.moreServices .item-grop .item .text h4{
    font-size: 20px;
    text-align: center;
    line-height: 1.5em;
    margin: 15px 0 10px;
}
.moreServices .item-grop .item .text p{
    font-size: 15px;
    line-height: 1.5em;
}
@media screen and (min-width:768px) {
    .moreServices .wrap{
        max-width: 1200px;
        margin: auto;
    }
    .moreServices .wrap .item-grop .item{
        width: calc(100% / 3);
    }
    
}
@media screen and (min-width:992px) {

}
@media screen and (min-width:1200px) {

}

