.area{
    height: 500px;
    background-color: rgb(26, 20, 75);
    background-image: url("https://img.shoplineapp.com/media/image_clips/609d0f5c33fdc6001aa95da6/original.png?1620905820");
    background-repeat: no-repeat;
    background-position: 70px 160px;
}
.area .text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.area .text div{
    color: white;
    font-size: 40px;
    line-height: 1.5em;
    margin: 20px;
}
.area .text a{
    display: flex;
    width: 330px;
    height: 40px;
    color: white;
    font-size: larger;
    justify-content: center;
    background-color: blue;
    line-height: 40px;
    border-radius: 20px;
    text-decoration: none;

}
@media screen and (min-width:768px) {
    .area{
        height: 400px;
        background-position: 200px 85px;
    }
    .area .text{
        align-items: flex-start;
    }  
    .area .text div{
        width: 40%;
    }
}
@media screen and (min-width:992px) {
    .area{
        background-position: 600px 45px;
    }
    .area .text{
        padding: 100px 0px 0px 0px;
        align-items: flex-start;
    }  
    .area .text div{
        width: 80%;
    }
    .area .text a{
        margin: 10px;
    }
}
