.main-footer{
    background-color: rgb(23, 23, 61);
}
.main-footer .item-grop{
    padding: 30px 10px 50px 10px;
}
.main-footer .item-grop .item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    color: white;
}
.main-footer .item-grop .item-top{
    display: flex;
    align-items: center;
}
.main-footer .item-grop .item label{
    display: flex;
    color: white;
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
}
.main-footer .item-grop .item label::after{
    content: '▼';
    display: block;

}
.main-footer .item-grop .item i{
    color: white;
}
.main-footer .item-grop .item ul{
    display: none;

    width: 100%;
    padding: 0px 10px 10px 10px;
    box-sizing: border-box;
    background-color:  rgb(23, 23, 61);
    /* position: absolute;
    top: 100%;
    z-index: 1; */
}
.main-footer .item-grop .item ul li{
    border-bottom: 1px solid gray;
}
.main-footer .item-grop .item ul li a{
    display: inline-block;
    text-decoration: none;
    color: gray;
    margin: 10px 0 10px 20px;
}
.wrap input[type="checkbox"]{
    display: none;

}
.wrap input[type="checkbox"]:checked~ul{
    display: block;
}


.main-footer .wrap .covid-19{
    background-color: rgb(159, 214, 159);
    color: black;
    font-size: 20px;
    width: fit-content;
    padding: 10px;
    line-height: 20px;
    margin: auto;
}
.main-footer .wrap .footer-bottem{
    padding: 10px 10px 30px 10px;
}
.main-footer .wrap .footer-bottem .other-information{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-footer .wrap .footer-bottem .conmunity{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    
}
.main-footer .wrap .footer-bottem .conmunity a{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: rgb(59, 60, 109);
    color: gray;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.main-footer .wrap .footer-bottem .web-map{
    display: flex;
    flex-direction: column;
}
.main-footer .wrap .footer-bottem .web-map a{
    text-decoration: none;
    color: white;
    text-align: center;
    margin:10px;
}
.main-footer .wrap .footer-bottem .address{
    color: white;
    margin: 20px;
}

@media screen and (min-width:768px) {
    .main-footer .wrap .covid-19{
        margin: 0px 0 0 10px;
    }
    .main-footer .wrap .footer-bottem .other-information{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .main-footer .wrap .footer-bottem .web-map{
        display: flex;
        flex-direction: row;
    }
    .main-footer .wrap .footer-bottem .address{
        width: 30%;
    }
    
}
@media screen and (min-width:992px) {
    .main-footer .wrap{
        max-width: 1200px;
        margin: auto;
    }
    .main-footer .item-grop{
        display: flex;
        justify-content: space-between;
        padding: 40px 20px 60px 20px;
    }
    
    .main-footer .item-grop .item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        border-bottom: 0px solid gray;
        /* position: static; */
    
    }
    .main-footer .item-grop .item .hb{
        display: none;
        background-color: transparent;
    }
    .main-footer .item-grop .item ul{
        display: block;
    
        width: 100%;
        padding: 0px 0px 10px 0px;
        box-sizing: border-box;
        background-color:  rgb(23, 23, 61);
        /* position: static;
        top:0%;
        z-index: 0; */
    }
    .main-footer .item-grop .item ul li{
        border-bottom: 0px solid gray;
    }
    .main-footer .item-grop .item ul li a{
        display: inline-block;
        text-decoration: none;
        color: gray;
        margin: 10px 0 10px 0px;
    }
    .main-footer .item-grop .item h6{
        margin-bottom: 20px;
        font-size: large;
    }
    .main-footer .wrap .covid-19{
        margin: 0 0 0 80%;
    }
    .main-footer .wrap .footer-bottem{
        display: flex;
        justify-content: space-between;
    }
    .main-footer .wrap .footer-bottem .other-information{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .main-footer .wrap .footer-bottem .other-information .web-map{
        margin-right: 150px;
    }


    
    
}
@media screen and (min-width:1200px) {

}
