header{
    width: 100%;
    background-color: #00142d;
    position: fixed;
}
.header-top{
    max-width: 1200px;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}
.header-top .box{
    padding: 10px;
    display: flex;
    vertical-align: middle;
    color: white;
}
.header-top .box span{
    color: white;
}
.header-top .box a{
    color: white;
    text-decoration: none;
    padding: 0 10px;
}
#menu_conctrol{
    display: none;
}
.main-header-bgc{
    background-color: white;
}
.main-header {
    max-width: 1200px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.main-header h1{
    display: flex;
    align-items: center;
    flex-grow: 0;

}
.main-header .logo img {
    width: 140px;
    vertical-align: top;
}
.main-nav{
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 50px;
}
.main-nav li{
    list-style: none;
}
.main-nav .list-item{
    text-decoration: none;
    color: black;
    padding: 0 10px;
    
}
.mobil-shop{
    display: none;
}
.mobil{
    display: none;
}
.hb span{
    display: none;
}
.main-header .free{
    width: 100px;
    height: 30px;
    background-color: blue;
    color: aliceblue;
    text-decoration: none;
    line-height: 30px;
    border-radius: 5%;
    text-align: center;
    font-size: smaller;
}
@media screen and (max-width: 991px) {
    .main-header {
        width: 100%;
        padding: 10px 20px;
        box-sizing: border-box;
        background-color: white;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    
    #menu_conctrol{
        display: none;
    }
    .header-top{
        display: none;
    }
    .main-nav {
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        height: 100vh;
        background-color: white;
        padding: 10px 20px;
        box-sizing: border-box;
        display: none;
        margin: 0;
        z-index: 2;
    }

    #menu_conctrol:checked~.main-header-bgc .main-nav {
        display: block;

    }

    .main-nav .list-item {
        display: block;
        text-decoration: none;
        color: black;
        font-size: 18px;
        padding: 20px 0;
        border-bottom: 1px solid gray;

    }
    .mobil{
        display: block;
        text-decoration: none;
        color: white;
        font-size: 18px;
        padding: 20px 0;
        background-color: blue;
        text-align: center;
        border-radius: 30px;
        margin: 10px 0;
    }
    .mobil-shop{
        display: block;
        text-decoration: none;
        color: blue;
        font-size: 18px;
        padding: 20px 0;
        background-color: white;
        border: 1px solid blue;
        text-align: center;
        border-radius: 30px;
        margin: 10px 0;
    }

    .hb {
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .hb span{
        font-size: 30px;
        display: block;
    }
    .free{
        display: none;
    }

}

