.controlFun{
    width: 1050px;
    height: 884px;
    background-color: white;
    margin: 50px auto;
    position: relative;
}
.controlFun .showVideo{
    width: 750px;
    height: 466px;
    top: 150px;
    right: 100px;
    bottom: 268px;
    left: 200px;
    /* padding: 225px 150px 402px 300px; */
    position: absolute;
    z-index: 2;
}
.controlFun .item{
    width: 750px;
    height: 466px;
}
.controlFun .video{
    display: flex;
    width: 750px;
    height: 466px;

}
.controlFun .tag{
    position:absolute;
    top: 50%;
    right: -1%;
}
.controlFun .tag a{
    display: inline-block;
}
.controlFun .function{
    width: 380px;
    height: 420px;
    background-color: antiquewhite;
    position: relative;
    z-index: 3;
}
.function-name{
    height: 150px;
    background-color: #ae0014;
    display: flex;
    font-size: 65px;
    flex-direction: row;
    align-items: center;
}
.function-name h1{
    color: white;
}
.function-name .number{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-size: 120px;
    color: white;
}
.function h2{
    display: flex;
    font-size: x-large;
    color: white;
    padding: 10px 10px 0 10px;
    line-height: 1.5em;
    background-color: black;
}
.function-content{
    height: 204px;
    background-color: black;
    color: white;
    font-size: larger;
    padding: 10px;
    line-height: 1.5em;
}
.controlFun .bgc{
    width: 486px;
    height: 310px;
    background-color: #eeeeee;
    position: relative;
    z-index: 1;
    top: -374px;
    left: 564px;
    z-index: 0;
}
.controlFun .illustrate{
    background-color: #efefef;
    width: 720px;
    height: 280px;
    line-height: 1.5em;
    padding: 10px;
    position: relative;
    top: -146px;
    left: 60px;
    z-index: 3;
}
.controlFun .illustrate div{
    font-size: x-large;
    font-weight:900;
    color: #bb0404;
    line-height: 1.5em;
}
.controlFun .illustrate div::after{
    content: '';
    width: 62%;
    display: inline-block;
    border-top: 2px solid #bb0404;
    position: relative;
    top:-5px;
    right: -10px;
}
.controlFun .illustrate h3{
    display: inline-block;
    height: 30px;
    border-radius: 2px;
    padding: 2px;
    line-height: 30px;
    background-color: black;
    color: white;
}
.controlFun .illustrate p{
    text-indent: 1em;
}
.controlFun .illustrate p::before{
    content: '';
    display: inline-block;
    background-color: red;
    border-radius: 50%;
    position: relative;
    width: 0.2em;
    height: 0.2em;
    top:-0.3em;
    left: -0.5em;
}
.securityGuard{
    width: 1050px;
    height: 884px;
    background-color: white;
    margin: 100px auto;
    position: relative;
}
.securityGuard .showVideo{
    width: 750px;
    height: 466px;
    top: 150px;
    right: 280px;
    bottom: 268px;
    left: 20px;
    position: absolute;
    z-index: 2;
}
.securityGuard .item{
    width: 750px;
    height: 466px;
}
.securityGuard .video{
    width: 750px;
    height: 466px;
}
.securityGuard .tag{
    position:absolute;
    top: 50%;
    left: -1%;
}
.securityGuard .tag a{
    display: inline-block;
}
.securityGuard .function{
    width: 380px;
    height: 420px;
    background-color:rosybrown ;
    position: relative;
    right: -670px;
    z-index: 3;
}
.securityGuard .function-name{
    height: 150px;
    background-color: #ae0014;
    display: flex;
    font-size: 65px;
    flex-direction: row;
    align-items: center;
}
.securityGuard .function-name h1{
    color: white;
}
.securityGuard .function-name .number{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-size: 120px;
    color: white;
}
.securityGuard .function-content{
    height: 204px;
    background-color: black;
    color: white;
    font-size: larger;
    padding: 10px;
    line-height: 1.5em;
}
.securityGuard .function h2{
    font-size: x-large;
    line-height: 1.5em;
    color: white;
    padding: 10px 10px 0 10px;
    line-height: 1.5em;
    background-color: black;

}

.securityGuard .bgc{
    width: 560px;
    height: 450px;
    background-color: #eeeeee;
    position: relative;
    left: 310px;
    top: -330px;
    z-index: 0;
}
.securityGuard .illustrate{
    flex-direction: column;
    line-height: 2em;
    padding: 10px;
    width: 720px;
    height: 170px;
    background-color: #efefef;
    position: relative;
    top: -290px;
    right: -310px;
    z-index: 3;
}
.securityGuard .illustrate div{
    font-size: x-large;
    font-weight:900;
    color: #bb0404;
    line-height: 1.5em;

}
.securityGuard .illustrate div::after{
    content: '';
    width: 62%;
    display: inline-block;
    border-top: 2px solid #bb0404;
    position: relative;
    top:-5px;
    right: -10px;
}

.securityGuard .illustrate h3{
    display: inline-block;
    height: 30px;
    border-radius: 2px;
    padding: 2px;
    line-height: 30px;
    background-color: black;
    color: white;
}
.securityGuard .illustrate p{
    text-indent: 1em;
}
.securityGuard .illustrate p::before{
    content: '';
    display: inline-block;
    background-color: red;
    border-radius: 50%;
    position: relative;
    width: 0.2em;
    height: 0.2em;
    top:-0.3em;
    left: -0.5em;
}

.comfortableRide{
    width: 1050px;
    height: 884px;
    background-color: white;
    margin: 50px auto;
    position: relative;
}
.comfortableRide .showVideo{
    width: 750px;
    height: 466px;
    top: 150px;
    right: 100px;
    bottom: 268px;
    left: 200px;
    /* padding: 225px 150px 402px 300px; */
    position: absolute;
    z-index: 2;
}
.comfortableRide .item{
    width: 750px;
    height: 466px;
}
.comfortableRide .video{
    display: flex;
    width: 750px;
    height: 466px;

}
.comfortableRide .tag{
    position:absolute;
    top: 50%;
    right: -1%;
}
.comfortableRide .tag a{
    display: inline-block;
}
.comfortableRide .function{
    width: 380px;
    height: 420px;
    background-color: antiquewhite;
    position: relative;
    z-index: 3;
}
.comfortableRide .function-name{
    height: 150px;
    background-color: #ae0014;
    display: flex;
    font-size: 65px;
    flex-direction: row;
    align-items: center;
}
.comfortableRide .function-name h1{
    color: white;
}
.comfortableRide .function-name .number{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-size: 120px;
    color: white;
}
.comfortableRide .function-content{
    height: 204px;
    background-color: black;
    color: white;
    font-size: larger;
    padding: 10px;
    line-height: 1.5em;
}
.comfortableRide .function h2{
    font-size: x-large;
    line-height: 1.5em;
    color: white;
    padding: 10px 10px 0 10px;
    line-height: 1.5em;
    background-color: black;

}
.comfortableRide .bgc{
    width: 486px;
    height: 310px;
    background-color: #eeeeee;
    position: relative;
    z-index: 1;
    top: -374px;
    left: 564px;
    z-index: 0;
}
.comfortableRide .illustrate{
    background-color: #efefef;
    width: 720px;
    height: 280px;
    line-height: 1.5em;
    padding: 10px;
    position: relative;
    top: -146px;
    left: 60px;
    z-index: 3;
}

.comfortableRide .illustrate div{
    font-size: x-large;
    font-weight:900;
    color: #bb0404;
    line-height: 1.5em;
}
.comfortableRide .illustrate div::after{
    content: '';
    width: 62%;
    display: inline-block;
    border-top: 2px solid #bb0404;
    position: relative;
    top:-5px;
    right: -10px;
}

.comfortableRide .illustrate h3{
    display: inline-block;
    height: 30px;
    border-radius: 2px;
    padding: 2px;
    line-height: 30px;
    background-color: black;
    color: white;
}
.comfortableRide .illustrate p{
    text-indent: 1em;
}
.comfortableRide .illustrate p::before{
    content: '';
    display: inline-block;
    background-color: red;
    border-radius: 50%;
    position: relative;
    width: 0.2em;
    height: 0.2em;
    top:-0.3em;
    left: -0.5em;
}
.humanize{
    width: 1050px;
    height: 884px;
    background-color: white;
    margin: 100px auto;
    position: relative;
}
.humanize .showVideo{
    width: 750px;
    height: 466px;
    top: 150px;
    right: 280px;
    bottom: 268px;
    left: 20px;
    position: absolute;
    z-index: 2;
}
.humanize .item{
    width: 750px;
    height: 466px;
}
.humanize .video{
    width: 750px;
    height: 466px;
}
.humanize .tag{
    position:absolute;
    top: 50%;
    left: -1%;
}
.humanize .tag a{
    display: inline-block;
}
.humanize .function{
    width: 380px;
    height: 420px;
    background-color:rosybrown ;
    position: relative;
    right: -670px;
    z-index: 3;
}
.humanize .function-name{
    height: 150px;
    background-color: #ae0014;
    display: flex;
    font-size: 65px;
    flex-direction: row;
    align-items: center;
}
.humanize .function-name h1{
    color: white;
}
.humanize .function-name .number{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-size: 120px;
    color: white;
}
.humanize .function-content{
    height: 204px;
    background-color: black;
    color: white;
    font-size: larger;
    padding: 10px;
    line-height: 1.5em;
}
.humanize .function h2{
    font-size: x-large;
    line-height: 1.5em;
    color: white;
    padding: 10px 10px 0 10px;
    line-height: 1.5em;
    background-color: black;

}

.humanize .bgc{
    width: 560px;
    height: 450px;
    background-color: #eeeeee;
    position: relative;
    left: 310px;
    top: -330px;
    z-index: 0;
}
.humanize .illustrate{
    flex-direction: column;
    line-height: 1.5em;
    padding: 10px;
    width: 720px;
    height: 170px;
    background-color: #efefef;
    position: relative;
    top: -290px;
    right: -310px;
    z-index: 3;
}
.humanize .illustrate div{
    font-size: x-large;
    font-weight:900;
    color: #bb0404;
    line-height: 1.5em;

}
.humanize .illustrate div::after{
    content: '';
    width: 62%;
    display: inline-block;
    border-top: 2px solid #bb0404;
    position: relative;
    top:-5px;
    right: -10px;
}

.humanize .illustrate h3{
    display: inline-block;
    height: 30px;
    border-radius: 2px;
    padding: 2px;
    line-height: 30px;
    background-color: black;
    color: white;
}
.humanize .illustrate p{
    text-indent: 1em;
}
.humanize .illustrate p::before{
    content: '';
    display: inline-block;
    background-color: red;
    border-radius: 50%;
    position: relative;
    width: 0.2em;
    height: 0.2em;
    top:-0.3em;
    left: -0.5em;
}
.proud{
    width: 1050px;
    height: 884px;
    background-color: white;
    margin: 50px auto;
    position: relative;
}
.proud .showVideo{
    width: 750px;
    height: 466px;
    top: 150px;
    right: 100px;
    bottom: 268px;
    left: 200px;
    /* padding: 225px 150px 402px 300px; */
    position: absolute;
    z-index: 2;
}
.proud .item{
    width: 750px;
    height: 466px;
}
.proud .video{
    display: flex;
    width: 750px;
    height: 466px;

}
.proud .tag{
    position:absolute;
    top: 50%;
    right: -1%;
}
.proud .tag a{
    display: inline-block;
}
.proud .function{
    width: 380px;
    height: 420px;
    background-color: antiquewhite;
    position: relative;
    z-index: 3;
}
.proud .function-name{
    height: 150px;
    background-color: #ae0014;
    display: flex;
    font-size: 65px;
    flex-direction: row;
    align-items: center;
}
.proud .function-name h1{
    color: white;
}
.proud .function-name .number{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-size: 120px;
    color: white;
}
.proud .function-content{
    height: 204px;
    background-color: black;
    color: white;
    font-size: larger;
    padding: 10px;
    line-height: 1.5em;
}
.proud .function h2{
    font-size: x-large;
    line-height: 1.5em;
    color: white;
    padding: 10px 10px 0 10px;
    line-height: 1.5em;
    background-color: black;

}
.proud .bgc{
    width: 486px;
    height: 310px;
    background-color: #eeeeee;
    position: relative;
    z-index: 1;
    top: -374px;
    left: 564px;
    z-index: 0;
}
.proud .illustrate{
    background-color: #efefef;
    width: 720px;
    height: 200px;
    line-height: 2em;
    padding: 10px;
    position: relative;
    top: -146px;
    left: 60px;
    z-index: 3;
}
.proud .illustrate div{
    font-size: x-large;
    font-weight:900;
    color: #bb0404;
    line-height: 1.5em;
}
.proud .illustrate div::after{
    content: '';
    width: 62%;
    display: inline-block;
    border-top: 2px solid #bb0404;
    position: relative;
    top:-5px;
    right: -10px;
}

.proud .illustrate h3{
    display: inline-block;
    height: 30px;
    border-radius: 2px;
    padding: 2px;
    line-height: 30px;
    background-color: black;
    color: white;
}
.proud .illustrate p{
    text-indent: 1em;
}
.proud .illustrate p::before{
    content: '';
    display: inline-block;
    background-color: red;
    border-radius: 50%;
    position: relative;
    width: 0.2em;
    height: 0.2em;
    top:-0.3em;
    left: -0.5em;
}



